.homePageContainer{
  width: 100%;

  .bannerHomePage{
    height: 100vh;
    background-image: url("../../assets/imgHomePage/bannerHome.png");
    background-repeat: no-repeat;
    background-size:cover;
    color: #FFF;
    font-family: Comfortaa;
    font-weight: 500;
    h2{
      font-size: 3rem;
    }
    p{
      font-size: 1.4rem;
    }
  }
}