.homePageContainer {
  width: 100%;
  .bannerHomePage {
    height: 90vh;
    background-image: url("../../assets/imgHomePage/bannerHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: Comfortaa;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 7.5fr 3.5fr;
    grid-template-rows: 2fr 8fr 2fr;
    grid-template-areas:
      ". . ."
      ". info ."
      ". . .";
    .infoContainer {
      grid-area: info;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      h2 {
        font-size: 3.4rem;
        line-height: 4rem;
      }
      p {
        font-size: 1.8rem;
        line-height: 3rem;
      }
      .buttonsContainer {
        display: flex;
        gap: 5rem;
      }
    }
  }
  .gridArea {
    background: rgb(4, 75, 129);
    background: linear-gradient(
      180deg,
      rgba(4, 75, 129, 0.822) 0%,
      rgba(165, 202, 229, 1) 35%,
      rgba(255, 255, 255, 1) 100%
    );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". main .";
    .bodyPage {
      grid-area: main;
      display: flex;
      flex-direction: column;
      gap: 6rem;
      font-family: Comfortaa;
      .caracteristicas {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 6rem;
        margin-top: -6rem;
      }
      .textBlue {
        color: #044b81;
        font-size: 1.5rem;
        font-weight: 900;
      }
      .sectionTitle {
        color: #000;
        font-size: 2.5rem;
        font-weight: 700;
      }
      .videoPitchSection {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        .text {
          font-family: Comfortaa;
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .space {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
          }
          .strong {
            color: #2f2f2f;
            font-size: 2rem;
            font-weight: 700;
          }
          .weak {
            color: #6b6b6b;
            text-align: justify;
            font-size: 1.5rem;
            font-weight: 700;
            padding-left: 2rem;
            border-left: 3px solid #6b6b6b;
          }
        }
        .imagensBabi {
          box-sizing: content-box;
          margin-top: 3.4rem;
          img {
            width: 55vh;
            height: auto;
          }
          .babi2 {
            margin-left: 11rem;
          }
          .babi1 {
            position: relative;
            top: -24%;
          }
        }
      }
      .metasSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.7rem;
        .sectionSubTitle{
          color: #2f2f2f;
          text-align: center;
          font-family: Comfortaa;
          font-size: 1.5rem;
          font-weight: 700;
        }
        .metas{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content:space-between;
          flex: auto;
        }
      }
    }
  }
}
